<div class="row">
{% if entities | length > 0 %}
    {% for entity in entities %}
            <div class="col s6 m6 l4">
                <div class="video-container">
                    <iframe width="150" height="100" src="{{ entity.url }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>


    {% endfor %}
{% else %}
    <div class="noresult">
        <i class="mdi-action-info-outline"></i> No se encontraron resultados

    </div>
{% endif %}
</div>


