/.idea
/app/config/parameters.yml
/nbproject/*
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
/web/uploads
/web/app.php
/web/favicon.ico
/web/robots.txt
/web/app_dev.php
/web/.htaccess
/web/config.php
/web/apple-touch-icon.png
!/var/sessions
/var/sessions/*
/var
/tests
/app/.htaccess
/app/AppCache.php
/app/autoload.php
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/phpunit.xml.dist
/README.md
/egaussweb.iml
