{%extends "::base.html.twig"%}
{%block body%}


                <!--breadcrumbs start-->
                <div id="breadcrumbs-wrapper" class=" grey lighten-3">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <a href="{{ path("dashboard") }}"><h5 class="breadcrumbs-title">Panel de Administraci&oacute;n</h5></a>

                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs end-->


                <!--start container-->
                <div class="container">





                </div>
                <!--end container-->


            <!-- END CONTENT -->



{%endblock body%}
{%block js%}
{% endblock %}
