{%extends "::frontbase.html.twig"%}
{%block body%}
    <!----------------------------------------------------Centre-------------------------------------------------->
    <div class="wrapperCenter">
        <div class="mainContentWrapper">
            <!--Left-->
            <div class="row">
            {% include 'AppBundle:App:menuLeftSobreGlobal.html.twig' with {"active":"quienessomos"} %}

            <div class="col s7 m12 l6 left">
                    <h6 class="btnNav" style="text-align: left !important; padding: 0.7em !important;">{{ entity.titulo }}</h6>

                        <div class="col s12 m12 l12 left">
                            <img class="responsive-img materialboxed" src="{{ asset(asset(entity.getWebPath)) }}">
                        </div>


                        <div class="col s12 m12 l12 left">
                            <h6 class="btnNav" style="text-align: left !important; padding: 0.7em !important;">Nuestro Consejo de Administraci&oacute;n</h6>

                        </div>




            </div>

            <div class="col s3 m12 l3">

            </div>
            </div>



        </div>
        </div>

{%endblock body%}