<div class="row">
{% if entities | length > 0 %}
    {% for entity in entities %}
            <div class="col s6 m6 l4">
                <p class="justify noticetitle">{{ entity.titulo }}</p>
                <div class="video-container">
                    {{ entity.url | raw }}
                </div>
                <p class="justify top10">{{ entity.descripcion }}</p>
            </div>


    {% endfor %}
{% else %}
    <div class="noresult">
        <i class="mdi-action-info-outline"></i> No se encontraron resultados

    </div>
{% endif %}
</div>


